body {
    background-image:
      url('https://br.habcdn.com/photos/project/big/degrade-de-cores-1430763.jpg');
    background-size: auto 100vh;
    font-family: Verdana;
    height: 100vh;
    }
  
  .menu{
    background-color:white;
  }
  
  a{
    color: teal;
    font-family: Verdana;
    text-decoration: none;
  }
  
  .site-subtitle,
  .site-title {
    color:whitesmoke;
    text-align: center ;
  }
  .site-subtitle {
    font-style: italic;
  }
  
  a:hover{
    text-decoration:underline;
  }
  
  .menu ul{
    display: flex;
    justify-content:space-around;
  }
  
  .menu li{
    list-style: none;
  }